<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.testkotlin">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".tabFragment.JavaTabMain"/>
        <activity android:name=".tabFragment.TabFragment"/>
        <activity android:name=".viewPager.ViewPagerMain"/>
        <activity android:name=".passArray.FirstActivity"/>
        <activity android:name=".passArray.SecondActivity"/>
        <activity android:name=".screenshot.ScreenshotActivity2"/>
        <activity android:name=".screenshot.CardActivity2"/>
        <activity android:name=".ScreenshotActivity"/>
        <activity android:name=".MainActivity"/>
        <activity android:name=".AddItemActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>